.menu_single{
    padding: 216px 0px;
    h2{
        font-size: 96px;
        line-height: 100px;
        font-weight: bold;
        padding-bottom: 22px;
    }
    p{
        font-size: 24px;
        color: #00000099;
        padding-bottom: 22px;
    }
    input{
        font-size: 24px;
        padding: 16px 51px;
    }
}
.position_relative{
    position: relative;
}
.position_absolute{
    position: absolute;
    padding: 0px;
    top: 0px;
    right:0px;
    .position_absolute_img{
        height: 800px;
        display: block;
        object-fit: cover;
        
    }
}
.menu_collection{
    display: flex;
    border: 1px solid #121212;
    ul{
        display: flex;
        margin-right: 20px;
        li{
           display: flex;
           align-items: center;
           padding: 8px 30px;
           border-left: 1px solid #121212;
           border-right: 1px solid #121212;
        }
    }
    img{
        width: 20px;
    }
    h3{
        font-size: 48px;
        font-weight: bold;
        padding: 8px 0px;   
    }
}

.one_gear{
    display: flex;
}
.one_gear_left{
    max-width: 50%;
    img{
        display: block;
        height: 100vh;
        object-fit: cover;
    }
}
.one_gear_right{
    width: 50%;
    background-color: #F1F5F6;
    p{
        font-size: 16px;
        color: #00000099;
        padding: 96px 0px 350px 135px;
    }
    h3{
        font-size: 72px;
        font-weight: bold;
        line-height: 90px;
        display: flex;
        justify-content: flex-end;
        padding-right: 96px;
        text-align: right;
    }
   
}
.performance{
    display: flex;
}
.performance_right{
    max-width: 50%;
    img{
        height: 100vh;
        object-fit: cover;
        display: block;
    }
}
.performance_left{
    width: 50%;
    background-color: #F1F5F6;
    position: relative;
    p{
        font-size: 16px;
        color: #00000099;
        padding-left: 200px;
    }
    h3{
        font-size: 72px;
        font-weight: bold;
        line-height: 90px;
        padding: 150px 0px 280px 96px;
    }
   
}


.commuter{
    text-align: center;
    padding: 96px 0px;
    h4{
        font-size: 48px;
        font-weight: bold;
        line-height: 55px;
        padding-bottom: 24px;
    }
    p{
        font-size: 16px;
        color: #00000099;
    }
}

.background{
    background-image: url(../images/img44.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 640px;
    position: relative;
    margin-bottom: 96px;
    .background_content{
        width: 450px;
        background-color: $white;
        position: absolute;
        top: 424px;
        left: 255px;
        p{
            font-size: 24px;
            padding: 16px;
        }
        span{
            font-size: 16px;
            padding: 0px 0px 16px 16px;
            color: #00000099;
        }
        
    }
}

.access{
    margin-bottom: 80px;
    img{
        display: block;
        padding-bottom: 24px;
    }
    h5{
        font-size: 24px;
        font-weight: bold;
    }
    p{
        font-size: 16px;
        color: #00000099;
        padding-bottom: 16px;
    }
}